<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Pratice/homework_1">
        <classes>
            <class name="homework_1.Register">
                <methods>
                    <include name="register"/>
                </methods>
            </class>
            <class name="homework_1.Shoping">
                <methods>
                    <include name="Shopping"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>